<!DOCTYPE html>
<html>

<head>
    <title>PI 1 2024</title>
    {% load static %}
    <link  href="{% static 'green_area/css/main.css' %}" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="hero-image">
        {% include 'partials/navbar.html' %}

        <section class="container">
            <h1 class="neighborhood-name">Bairros</h1>
            {% if neighborhoods %}
            <div class="flex neightborhood-link-card-list">
                {% for neighborhood in neighborhoods %}
                <div class="neightborhood-link-card">
                    <a href='bairros/{{neighborhood.id}}' class="detail-neighborhood">
                        <span>
                            {{neighborhood.name}}
                        </span>
                        <img src="{% static 'green_area/assets/icons/icon-park-outline_next.svg'%}" />
                    </a>
                </div>
                {% endfor %}
            {% else %}
            <p>Nenhum bairro disponível</p>                
            </div>
            {% endif %}
        </section>
    </div>
    <section>
        <div class="container about-project">

            <header>
                <h2 class="about-neighborhood-title">Sobre o Projeto</h2>
            </header>
            <div>
                <p>
                    Este site consiste em uma ferramenta web para apresentar os índices de cobertura vegetal de alguns bairros do Município de Rio Claro, utilizando imagens de satélite do Google Earth e dados populacionais municipais. Para tanto, o índice considerado foi a Porcentagem de Cobertura Vegetal (PCV). O objetivo principal é melhorar a qualidade de vida na cidade, focando na arborização.
                </p>

           </div>
        </div>
    </section>
    {% include 'partials/footer.html' %}
</body>
</body>

</html>