{% load static %}
<footer>
    <div class="container">
        <header class="footer-header flex">
            <h3>Projetor Integador</h3>
            <div class="footer-email-contact">
                <img src="{% static 'green_area/assets/icons//email-Vector.svg'%}" />
                <a href="mailto:email@provedor.com.br">email@contato.com</a>
            </div>
        </header>
        <section>
            <h4 class="footer-informations-title">Informações</h4>
            <ul class="footer-informations-list">
                <li>
                    <a href="#">
                        Contato
                    </a>
                </li>

                <li>
                    <a href="#">
                        Sobre
                    </a>
                </li>

                <li>
                    <a href="#">
                        Status
                    </a>
                </li>

                <li>
                    <a href="#">
                        Faq
                    </a>
                </li>
            </ul>
        </section>
    </div>
</footer>